unsloth_compiled_cache/
ipynb*
*__pycache__*
*egg-info*
scripts/outputs
scripts/unsloth_compiled_cache
scripts/data
scripts/trained_models
models/*
outputs/*
wandb/*
data/*
*txt
.env
docs/
notebooks/wandb
src/outputs/
src/wandb/
checkpoints
output/
outputs/
outputs_dev/
extra/
results/
.idea/
.cursor/
.vscode/
.DS_Store

*.bak
SPINE/
*.zip
data_backup/
*.png
trainer_output/
results_old/
shared/
eval/*
data_store/*
slurm/
