unsloth_compiled_cache/
ipynb*
*__pycache__*
*egg-info*
scripts/outputs
scripts/unsloth_compiled_cache
scripts/data
scripts/trained_models
*json
models/*
outputs/*
wandb/*
data/*
*txt
.env
src/outputs/
src/wandb/
checkpoints
